<template name="orderConfirmation">

    <div class="cbcontainer animated fadeInDown">
        <div id="center-element">

            <div id="order-receipt">
                <div class="connection-indicator">
                    <small>
                        {{#if equals status 'green'}}Real-Time{{/if}}
                        {{#if equals status 'yellow'}}Connecting{{/if}}
                        {{#if equals status 'red'}}Disconnected{{/if}}
                    </small>
                    <span class="connection-icon {{status}} inline"></span>
                </div>
                <div class="order-header">
                    <div>
                        <h1>{{r.name}}</h1>
                        <h3>Order Confirmation</h3>
                    </div>
                </div>

                <div class="l-r-flex">
                    <h3 class="m-b-none">Status:</h3>
                    {{#if equals o.status "Cancelled"}}
                        <span class="label label-danger">Cancelled</span>
                    {{/if}}
                    {{#if equals o.status "Un-Confirmed"}}
                        <span class="label label-warning">Un-confirmed</span>
                    {{/if}}
                    {{#if equals o.status "Confirmed"}}
                        <span class="label label-info">Confirmed</span>
                    {{/if}}
                    {{#if equals o.status "Ready"}}
                        <span class="label label-info">Ready</span>
                    {{/if}}
                    {{#if equals o.status "On Route"}}
                        <span class="label label-info">On Route</span>
                    {{/if}}
                    {{#if equals o.status "Complete"}}
                        <span class="label label-success">Complete</span>
                    {{/if}}
                </div>

                <hr>

                <h3 class="m-b-sm">Order Details</h3>
                <div>
                    <p class="font-bold">Customer:</p>
                    <p>{{o.customer.name}}</p>
                </div>
                <div>
                    <p class="font-bold">Payment:</p>
                    <p>{{o.config.payment.method}} {{#if equals o.config.payment.method 'Online'}}(Successful){{/if}}</p>
                </div>
                <div>
                    <p class="font-bold">Order Type:</p>
                    <p>{{o.config.logistic}}</p>
                </div>
                <div>
                    <p class="font-bold">Order Time:</p>
                    <p>{{orderTime}}</p>
                </div>
                {{#if equals o.config.logistic 'Delivery'}}
                    <div>
                        <p class="font-bold">Delivery Location:</p>
                        <p>{{o.config.destination}}</p>
                    </div>
                {{/if}}

                <hr>

                <h3 class="m-t-sm m-b-sm">Store Details</h3>
                <div>
                    <p class="font-bold">Address</p>
                    <p>{{location.address}}</p>
                </div>

                <hr>

                <div class="m-t-sm m-b-sm l-r-flex">
                    <h3 class="m-b-none">Your Order</h3>
                    <h3 class="m-b-none">{{cIcon}}{{o.total}}</h3>
                </div>

                {{#each o.dishes}}
                    <div class="l-r-flex">
                        <p>{{addOne @index}}. {{name}}</p>
                        <p>{{cIcon}}{{price}}ea</p>
                    </div>
                    <div class="dish-config">
                        <p>Quantity: {{quantity}}</p>
                        {{#if option_sets}}
                            {{#each option_sets}}
                                {{#each options}}
                                    {{#if isSet}}
                                        {{#if modifier}}
                                            <p>{{../name}} / {{name}} + {{cIcon}}{{modifier}}</p>
                                        {{else}}
                                            <p>{{../name}} / {{name}}</p>
                                        {{/if}}
                                    {{/if}}
                                {{/each}}
                            {{/each}}
                        {{/if}}
                    </div>
                {{/each}}

                <!-- CART ITEMS -->
            </div>

        </div>
    </div>

    <style>
        #order-receipt {
            margin: 1rem auto;
            padding: 1.4rem;
            width: 300px;
            font-size: 1.4rem;
            background-color: white;
            border-radius: 0.3rem;
            position: relative;
        }
        #order-receipt p {
            margin-bottom: 0;
        }
        #order-receipt .order-header{
            margin-bottom: 1.5rem;
            margin-top: 1rem;
        }
        #order-receipt .order-header h1{
            margin: 0 0 0.5rem 0;
        }
        #order-receipt .order-header h3 {
            margin: 0;
        }
        #order-receipt .l-r-flex {
            display: -webkit-flex;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: center;
            align-items: center;
        }
        #order-receipt .l-r-flex p:first-child {
            font-weight: 600;
            width: 60%;
        }
        #order-receipt .connection-indicator {
            position: absolute;
            top: 5px;
            right: 10px;
        }
        .dish-config {
            padding-left: 1.5rem;
        }
    </style>

</template>