<template name="storeStart">

    <style>
        .store-start {
            margin: 1rem;
            padding: 2.4rem 1.4rem;
            font-size: 1.4rem;
            border-radius: 0.3rem;
            position: relative;
        }
    </style>

    <div class="cbcontainer animated fadeInDown">
        <div id="center-element">
            <div class="store-start box-color">

                <div class="text-center">
                {{#if r.settings.design.images.logo.url}}
                    <img src="{{r.settings.design.images.logo.url}}" class="logoImage"/>
                {{else}}
                    <h1 class="m-none">{{r.name}}</h1>
                {{/if}}
                <p class="font-bold m-b-none">Order Online</p>
                {{#if equals numberOfLogisticsAvailable 1}}<small>({{nameOfLogisticAvailable}} Only)</small>{{/if}}
            </div>

                {{#if oneAvailable}}

                    {{#if equals numberOfLogisticsAvailable 1}}
                        <!-- PRESET LOGISTIC TYPE -->
                    {{else}}
                        <!-- SET ORDER TYPE -->

                        <div class="text-center m-t-lg">
                            {{#if r.settings.logistic.pickup.enabled}}
                                <div class="radio radio-primary radio-inline">
                                    <input type="radio" id="orderPickup" name="orderLogistic" class="orderLogisticEvent" data-id="Pickup">
                                    <label for="orderPickup"> Pickup </label>
                                </div>
                            {{/if}}
                            {{#if r.settings.logistic.delivery.enabled}}
                                <div class="radio radio-primary radio-inline">
                                    <input type="radio" id="orderDelivery" name="orderLogistic" class="orderLogisticEvent" data-id="Delivery">
                                    <label for="orderDelivery"> Delivery </label>
                                </div>
                            {{/if}}
                        </div>
                    {{/if}}

                    <!-- SET STORE LOCATION -->

                    {{#if equals orderSetup.logistic 'Pickup'}}
                        <div class="order-logistic-information animated fadeInUp m-t-lg">
                            <div class="form-group">
                                <label>Pickup Address</label>
                                <select id="orderLocation" class="form-control" style="width: 100%">
                                    <option></option>
                                    {{#each r.settings.locations}}
                                        {{#if open}}
                                            <option value="{{_id}}">{{address}}</option>
                                        {{else}}
                                            <option value="{{_id}}" disabled>Closed - {{address}}</option>
                                        {{/if}}
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    {{/if}}

                    {{#if equals orderSetup.logistic 'Delivery'}}
                        <div class="order-logistic-information animated fadeInUp m-t-lg">

                            <div class="form-group">
                                <label>Delivery Address</label>
                                <input id="orderDeliveryAddress" name="orderDeliveryAddress" type="text" class="form-control required">
                                <span id="deliveryAddressHelper" class="help-block m-b-none">Please select from the dropdown</span>
                            </div>

                        </div>
                    {{/if}}

                    <!-- SET TIMING -->

                    {{#if orderSetup.location}}

                        {{#if equals orderSetup.logistic 'Delivery'}}
                            {{#if or r.settings.logistic.delivery.conditions.min_order r.settings.logistic.delivery.notes}}
                            <div class="order-logistic-information animated fadeInUp m-t-lg">
                                <div class="form-group">
                                    <label>Delivery Notes</label>
                                    <ul>
                                        {{#if r.settings.logistic.delivery.conditions.min_order}}<li>Minimum Order {{r.settings.region.currency_symbol}}{{r.settings.logistic.delivery.conditions.min_order}}</li>{{/if}}
                                        {{#if r.settings.logistic.delivery.notes}}<li>{{r.settings.logistic.delivery.notes}}</li>{{/if}}
                                    </ul>
                                </div>
                            </div>
                            {{/if}}
                        {{/if}}

                        {{#if equals orderSetup.logistic 'Pickup'}}
                            {{#if r.settings.logistic.pickup.notes}}
                                <div class="order-logistic-information animated fadeInUp m-t-lg">
                                    <div class="form-group">
                                        <label>Pickup Notes</label>
                                        <p>{{r.settings.logistic.pickup.notes}}</p>
                                    </div>
                                </div>
                            {{/if}}
                        {{/if}}

                        <div class="m-t-lg text-center animated fadeInUp">

                            <div class="radio radio-primary radio-inline">
                                <input type="radio" id="orderTimeNow" name="orderTime" class="orderTimeEvent" data-id="Now">
                                <label for="orderTimeNow"> Now </label>
                            </div>

                            <div class="radio radio-primary radio-inline">
                                <input type="radio" id="orderTimeLater" name="orderTime" class="orderTimeEvent" data-id="Later">
                                <label for="orderTimeLater"> Later </label>
                            </div>

                        </div>

                        <!-- Set the ORDER TIME & TABLE -->
                        <div class="m-t-lg">
                            {{#if equals orderSetup.when 'Now'}}
                                <div class="order-time-information animated fadeInUp">

                                </div>
                            {{/if}}

                            {{#if equals orderSetup.when 'Later'}}
                                <div class="order-time-information animated fadeInUp">

                                    <div class="row">

                                        <div class="col-sm-12 m-b-sm">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                <select id="orderDate" data-id="date" class="form-control">
                                                    <option value="">Select a date</option>
                                                    {{#each next10days}}
                                                        <option value="{{_id}}">{{name}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>

                                        {{#if orderSetup.date}}

                                            <div class="col-sm-12 m-b-sm animated fadeInUp">
                                                <div class="input-group jq-timepicker">
                                                    <span id="orderTimeInputGroup" class="input-group-addon" for="orderTime"><i class="fa fa-clock-o"></i></span>
                                                    <input type="text" class="form-control" id="orderTime" name="orderTime" data-id="time"/>
                                                </div>
                                            </div>

                                        {{/if}}

                                    </div>

                                </div>
                            {{/if}}

                            {{#if confirm}}
                                <div class="m-t-lg animated fadeInUp text-center">

                                    <button id="go-next-step" type="button" class="btn btn-block btn-outline btn-primary">Next</button>
                                    <small class="m-t-sm">By pressing next you agree to the terms & conditions</small>

                                </div>
                            {{/if}}

                        </div>


                    {{/if}}

                {{else}}

                    <div class="m-t-xl text-center">
                        {{#if multi}}
                            <p>All our locations are currently closed or not accepting orders online.</p>
                        {{else}}
                            <p>Sorry we are currently closed or not accepting orders online.</p>
                        {{/if}}
                        <p><a href="/restaurant/store/{{r._id}}">View our store menu and information</a></p>
                    </div>

                {{/if}}
            </div>

        </div>
    </div>

</template>