<template name="storeMain">

    <div id="wrapper">

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-close-button navbar-minimalize">
                <i class="fa fa-times"></i>
            </div>
            <div class="sidebar-collapse">

                <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold text-white store-name" style="font-size: 2rem;">{{r.name}}</strong>
                            </span>
                        </span>
                        </div>
                        <div class="logo-element split-store-name"></div>
                    </li>
                    <li class="active">
                        <a href="#"><i class="fa fa-cutlery"></i> <span class="nav-label">Menu</span><span class="fa arrow p-t-sm"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a class="category-filter" data-id="">All</a></li>
                            {{#each categories}}
                                <li><a class="category-filter" data-id="{{name}}">{{name}}</a></li>
                            {{/each}}
                        </ul>
                    </li>
                    <li class="">
                        <a href="#"><i class="fa fa-info"></i> <span class="nav-label">Information</span><span class="fa arrow p-t-sm"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a class="info-modal" data-id="locations">{{#if multi}}Locations{{else}}Location{{/if}} & Hours</a></li>
                            {{#if r.settings.info.terms}}
                                <li><a class="info-modal" data-id="terms">Terms & Conditions</a></li>
                            {{/if}}
                            {{#if r.settings.info.store_email}}
                                <li><a class="info-modal" data-id="contact">Contact Us</a></li>
                            {{/if}}
                        </ul>
                    </li>
                </ul>

            </div>
        </nav>

        <!-- INFO MODALS -->
        <div class="modal inmodal" id="locations-info-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated fadeInDown">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" ><i class="fa fa-map-marker"></i>  {{#if multi}}Locations & Hours{{else}}Location & Hours{{/if}} </h4>
                        <p class="font-bold"></p>
                    </div>
                    <div class="modal-body">
                        {{#each r.settings.locations}}
                            <div class="store-locations m-b-lg">
                                <div id="map-{{_id}}" class="map-container m-b-sm"></div>
                                <p class="font-bold"><i class="fa fa-map-marker"></i>  {{address}}</p>
                                <p class="font-bold">Opening Times</p>
                                <div class="border-bottom m-t-sm m-b-sm"></div>
                                {{#each makeArray opening_times}}
                                    {{#each times}}
                                        {{#if open}}
                                            <div class="row m-b-none">
                                                <div class="col-xs-3 font-bold">{{../_id}}:</div>
                                                <div class="col-xs-9">{{open}} - {{close}}</div>
                                            </div>
                                        {{else}}
                                            <div class="row m-b-none">
                                                <div class="col-xs-3 font-bold">{{../_id}}:</div>
                                                <div class="col-xs-9">Closed</div>
                                            </div>
                                        {{/if}}
                                    {{/each}}
                                {{/each}}
                            </div>
                        {{/each}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal inmodal" id="terms-info-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated fadeInDown">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" ><i class="fa fa-map-marker"></i>  Terms & Conditions </h4>
                    </div>
                    <div class="modal-body" style="white-space: pre-line;">
                        <p>{{r.settings.info.terms}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        {{#if r.settings.info.store_email}}
        <div class="modal inmodal" id="contact-info-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated fadeInDown">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" ><i class="fa fa-envelope"></i>  Contact Us </h4>
                    </div>
                    <div class="modal-body">
                        <form id="contact-form" class="m-b-none dish-form">

                            <div class="form-group">
                                <label>Name</label>
                                <input id="contactName" name="editDishNamecontactName" type="text" class="form-control required" required>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label>Email or Phone</label>
                                <input id="contactMethod" name="contactMethod" type="text" class="form-control required" required>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label>Message</label>
                                <textarea id="contactMessage" name="contactMessage" class="form-control required" required></textarea>
                            </div>

                            <div class="hr-line-dashed"></div>


                            <button class="btn btn-block btn-primary" type="submit"><i class="fa fa-check"></i>&nbsp;Send Message</button>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}

        <!-- Page wraper -->
        <div id="page-wrapper">

            <!--
            <div class="row" style="margin-bottom: 60px;">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header m-r-sm">
                        <a id="navbar-minimalize" class="nav-btn" href="#"><i class="fa fa-bars"></i></a>
                        <a id="navbar-minimalize" class="minimalize-styl-2 btn" href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                    <div>
                        {{#if loc}}
                            {{#if loc.open}}
                                {{#if orderSetup}}
                                    <a id="cart-button" class="minimalize-styl-2 btn" href="#"><i class="fa fa-shopping-basket m-r-sm"></i> {{cartItemsNum}} / {{cIcon}}{{cartTotal}}</a>
                                {{else}}
                                    <a class="start-order minimalize-styl-2 btn"><i class="fa fa-shopping-basket m-r-sm"></i> Order Online </a>
                                {{/if}}
                            {{else}}
                                    <span class="label label-danger p-l-sm" style="line-height: 58px;">Closed</span>
                            {{/if}}
                        {{else}}
                            <a class="start-order minimalize-styl-2 btn"><i class="fa fa-shopping-basket m-r-sm"></i> Order Online </a>
                        {{/if}}
                    </div>
                </nav>
            </div>
             -->

            <div class="row navbar-top-store">
                <div>
                    <div class="nav-btn navbar-minimalize" href="#"><i class="fa fa-bars"></i></div>
                </div>
                <div>
                    {{#if loc}}
                        {{#if loc.open}}
                            {{#if orderSetup}}
                                <div id="cart-button" class="nav-btn" href="#"><i class="fa fa-shopping-basket m-r-sm"></i> {{cartItemsNum}} / {{cIcon}}{{cartTotal}}</div>
                            {{else}}
                                <div class="start-order nav-btn"><i class="fa fa-shopping-basket m-r-sm"></i> Order Online </div>
                            {{/if}}
                        {{else}}
                            <span class="label label-danger">Closed</span>
                        {{/if}}
                    {{else}}
                        <div class="start-order nav-btn"><i class="fa fa-shopping-basket m-r-sm"></i> Order Online </div>
                    {{/if}}
                </div>
            </div>

            <div class="row wrapper page-heading">
                <div class="col-lg-12">
                    <h2><i class="fa fa-cutlery m-r"></i> {{categoryFilter}} </h2>
                </div>
            </div>

            <div id="main-content-wrapper" class="product-container wrapper wrapper-content animated fadeInRight">

                {{#each dishes}}
                <div class="ibox">
                    <div class="ibox-content product-box">
                        {{#if image.rel}}
                            <div class="product-imitation">
                                <img src="{{image.url}}" class="product-image"/>
                            </div>
                        {{/if}}
                        <div class="product-desc">
                            <span class="product-price{{#if image.rel}}{{else}} no-image{{/if}}">{{cIcon}}{{price}}</span>
                            <small class="text-muted">{{category}}</small>
                            <div class="product-name">{{name}}</div>
                            <div class="description m-t-xs">{{description}}</div>
                            {{#if option_sets}}
                                <small class="m-t-xs m-b-md">Customize: </small>
                                {{#each option_sets}}
                                    <small>{{name}},</small>
                                {{/each}}
                            {{/if}}
                        </div>
                        {{#if loc}}{{#if loc.open}}
                            {{#if orderSetup}}
                                <a href="#" class="btn btn-xs btn-primary add-dish" data-id="{{_id}}">Add <i class="fa fa-plus"></i> </a>
                            {{/if}}
                        {{/if}}{{/if}}
                    </div>
                </div>
                {{/each}}

            </div>

            <div class="modal inmodal" id="add-dish-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content animated fadeInDown">
                        <div class="modal-header" style="padding: 30px;">
                            <div id="modal-dish-image-container">

                            </div>
                        </div>
                        <div class="modal-body">
                            <div id="add-modal-dish-options">
                                <h5>Select your dish options</h5>
                                <ul class="todo-list m-t small-list">
                                    <li>
                                        <div class="checkbox">
                                            <input id="location-stock" class="" type="checkbox" checked>
                                            <label for="location-stock">Option</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="form-group m-b-none">
                                <label>Quantity</label>
                                <input id="add-modal-dish-quantity" type="number" min="1" value="1" class="form-control">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary add-dish-modal-button">Add</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- SIDEBAR -->
        <div id="right-sidebar">

            <div class="sidebar-container">

                <ul class="nav nav-tabs navs-2">
                    <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-gear"></i> Cart </a></li>
                    {{#if orderSetup}}
                        <li><a data-toggle="tab" href="#tab-2"><i class="fa fa-gear"></i> Checkout </a></li>
                    {{else}}
                        <li><a class="start-order"><i class="fa fa-gear"></i> Start Order </a></li>
                    {{/if}}
                </ul>

                <div class="tab-content">

                    <div id="tab-1" class="tab-pane active">

                        <div class="sidebar-title">
                            <h3> <i class="fa fa-money"></i> Total: {{cIcon}}{{cartTotal}}</h3>
                            {{#if equals orderSetup.logistic 'Delivery'}}
                                {{#if r.settings.logistic.delivery.conditions.min_order}}
                                    <p class="m-b-none">Minimum Order: {{cIcon}}{{r.settings.logistic.delivery.conditions.min_order}}</p>
                                {{/if}}
                            {{/if}}
                            <small><i class="fa fa-shopping-cart"></i> {{cartItemsNum}} items in cart</small>
                        </div>

                        <div>
                            <ul class="sidebar-list">
                                {{#if cartItems}}
                                    {{#each cartItems}}
                                        <li>
                                            <div class="pull-right m-t-xs font-bold">{{cIcon}}{{cartDishPriceQty this}}</div>
                                            <h4>{{addOne @index}}. {{name}}</h4>
                                            <div class="m-t">
                                                <p class="pull-left">Quantity: {{quantity}} {{#if greater quantity 1}}/ {{cIcon}}{{cartDishPrice this}}ea{{/if}}</p>
                                                <button type="button" class="btn btn-primary btn-xs pull-right remove-dish" data-id="{{_id}}"><i class="fa fa-times"></i></button>
                                                <div class="clearfix"></div>
                                            </div>
                                            {{#if option_sets}}
                                                {{#each option_sets}}
                                                        {{#each options}}
                                                            {{#if isSet}}
                                                                {{#if modifier}}
                                                                    <p class="m-b-none">{{../name}} / {{name}} + {{cIcon}}{{modifier}}</p>
                                                                {{else}}
                                                                    <p class="m-b-none">{{../name}} / {{name}}</p>
                                                                {{/if}}
                                                            {{/if}}
                                                        {{/each}}
                                                {{/each}}
                                            {{/if}}
                                        </li>
                                    {{/each}}
                                {{else}}
                                    <li>
                                        <p>No items in cart</p>
                                    </li>
                                {{/if}}
                            </ul>
                        </div>

                    </div>

                    <div id="tab-2" class="tab-pane">

                        <div class="sidebar-title">
                            <h3> <i class="fa fa-money"></i> Total: {{cIcon}}{{cartTotal}}</h3>
                            {{#if equals orderSetup.logistic 'Delivery'}}
                                {{#if r.settings.logistic.delivery.conditions.min_order}}
                                    <p class="m-b-none">Minimum Order: {{cIcon}}{{r.settings.logistic.delivery.conditions.min_order}}</p>
                                {{/if}}
                            {{/if}}
                            <small><i class="fa fa-shopping-cart"></i> {{cartItemsNum}} items in cart</small>
                        </div>

                        <div class="sidebar-content border-bottom">
                            {{#if checkout.allowed}}
                                <form id="checkout-form" class="m-b-md">

                                    <div class="form-group">
                                        <label>Name</label>
                                        <input id="orderName" type="text" class="form-control required" required>
                                    </div>

                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input id="orderPhone" type="text" class="form-control required" required>
                                    </div>

                                    <div class="form-group">
                                        <label>Email</label>
                                        <input id="orderEmail" type="email" class="form-control required" required>
                                    </div>

                                    <div class="form-group">
                                        <label>Payment Method</label><br>
                                        {{#if r.settings.payment.cash.enabled}}
                                        <div class="radio radio-primary">
                                            <input id="paymentCash" type="radio" name="paymentMethod" value="Cash" required>
                                            <label for="paymentCash"> Cash </label>
                                        </div>
                                        {{/if}}
                                        {{#if r.settings.payment.efptos.enabled}}
                                        <div class="radio radio-primary">
                                            <input id="paymentEfptos" type="radio" name="paymentMethod" value="EFPTOS" required>
                                            <label for="paymentEfptos"> EFPTOS </label>
                                        </div>
                                        {{/if}}
                                        {{#if r.settings.payment.credit_card.enabled}}
                                            {{#if r.settings.payment.stripe.connected}}
                                            <div class="radio radio-primary">
                                                <input id="paymentOnline" type="radio" name="paymentMethod" value="Online" required>
                                                <label for="paymentOnline"> Online Credit Card </label>
                                            </div>
                                            {{/if}}
                                        {{/if}}
                                    </div>

                                    <button class="btn btn-block btn-primary" type="submit"><i class="fa fa-check"></i>&nbsp;Place Order</button>

                                </form>
                            {{else}}
                                <p class="font-bold text-danger">{{checkout.message}}</p>
                            {{/if}}

                        </div>

                        <div class="sidebar-content">
                            <div>
                                <h4 class="m-b-sm">Order Details</h4>

                                {{#if equals orderSetup.when 'Now'}}
                                    <p class="font-bold m-b-none">Order For:</p>
                                    <p>{{orderSetup.when}}</p>
                                {{/if}}

                                {{#if equals orderSetup.when 'Later'}}
                                    <p class="font-bold m-b-none">Order For:</p>
                                    <p>{{orderSetup.time}} {{orderSetup.date}} (dd/mm/yy)</p>
                                {{/if}}

                                <p class="font-bold m-b-none">Order Type:</p>
                                <p>{{orderSetup.logistic}}</p>

                                {{#if equals orderSetup.logistic 'Delivery'}}
                                    <p class="font-bold m-b-none">Delivery Location:</p>
                                    <p>{{orderSetup.destination}}</p>
                                {{/if}}

                                <p class="font-bold m-b-none">Store Location:</p>
                                <p>{{orderSetup.location}}</p>

                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>


</template>