<template name="restaurantViewOrders">

    {{> pageHeading title='Orders' }}

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-sm-6">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Locations</h5>
                    </div>
                    <div class="ibox-content">
                        <select id="filterLocation" class="select2 form-control" style="width: 100%">
                            <option value="">All</option>
                            {{#each r.settings.locations}}
                                <option value="{{_id}}">{{address}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Search</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="input-group">
                            <input id="filterSearch" class="form-control search-input" type="text">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row m-b-xl">

            <div class="col-lg-12">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>All Orders</h5>
                    </div>
                    <div id="table-container" class="ibox-content">
                        <table id="table" class="table" data-sorting="true">
                        </table>
                    </div>
                </div>

            </div>

        </div>

    </div>

</template>