<template name="emailVerification">
    <div class="passwordBox animated fadeInDown">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox-content">
                    <h2 class="font-bold">Please Verify Your E-Mail</h2>
                    <p>A verification email was sent to your sign-up address. Please follow the link inside.</p>
                    <a href="#" class="resend-verification-link">Resend verification link</a>
                </div>
            </div>
        </div>
        <div class="row m-t-sm">
            <div class="col-xs-12">
                Oorderz © 2016
            </div>
        </div>
    </div>
</template>