<template name="forgotPassword">
    <div class="passwordBox animated fadeInDown">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox-content">
                    <h2 class="font-bold">Forgot password</h2>
                    <p>Enter your email address and your password will be reset and emailed to you.</p>
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="forgotPasswordForm" class="m-t" role="form">
                                <div class="form-group">
                                    <input id="forgotPwdEmail" type="email" class="form-control" placeholder="Email address" required="">
                                </div>
                                <button type="submit" class="btn btn-primary block full-width m-b">Send Reset Email</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t-sm">
            <div class="col-xs-12">
                Oorderz © 2016
            </div>
        </div>
    </div>
</template>