<template name="landing">

    <div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">OORDERZ</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#page-top">Home</a></li>
                        <li><a class="page-scroll" href="#features">Features</a></li>
                        <li><a class="page-scroll" href="#pricing">Pricing</a></li>
                        {{#if currentUser}}
                            <li><a href="{{pathFor route="dashboard"}}">Dashboard</a></li>
                        {{else}}
                            <li><a href="{{pathFor route="register"}}">Register</a></li>
                            <li><a href="{{pathFor route="login"}}">Login</a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Real-Time<br/>Online Ordering<br/>Built For Restaurants<br/></h1>
                        <p>Simple, powerful & affordable</p>
                        <p>
                            <a class="btn btn-lg btn-primary" href="{{pathFor route="register"}}" role="button">Try Now</a>
                        </p>
                        <small class="m-t-none">* Currently in development, register for demo version</small>
                    </div>
                    <div class="carousel-image wow zoomIn">
                        <img src="app/headimg.png" alt="app" style="width: 550px;"/>
                    </div>
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back one" style="background: url('/img/header-bg.jpg') 50% 50% no-repeat; background-size: cover;"></div>
            </div>
        </div>
    </div>

    <section  class="container features m-t-lg">
        <div class="row m-b-md">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Start accepting orders online<br/> <span class="navy"> from any device</span> </h1>
                <p>With all the tools you need to manage them </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 text-center wow fadeInLeft">
                <div>
                    <i class="fa fa-mobile features-icon"></i>
                    <h2>Custom Online Store</h2>
                    <p>After setting up your menu and store, Oorderz will automatically generate a custom online store where orders can be placed</p>
                </div>
                <div class="m-t-lg">
                    <i class="fa fa-refresh features-icon"></i>
                    <h2>Real-Time</h2>
                    <p>Our application works in real-time meaning you will see a stream of online orders in your dashboard</p>
                </div>
            </div>
            <div class="col-sm-6 text-center  wow zoomIn">
                <img src="img/features-img.png" alt="dashboard" class="img-responsive" style="display: inline;">
            </div>
            <div class="col-sm-3 text-center wow fadeInRight">
                <div>
                    <i class="fa fa-thumbs-up features-icon"></i>
                    <h2>Easy To Use</h2>
                    <p>Built to be simple but powerful, easily setup a great looking store and manage everything</p>
                </div>
                <div class="m-t-lg">
                    <i class="fa fa-wrench features-icon"></i>
                    <h2>Constant Updates</h2>
                    <p>An app is never complete, we will be releasing new features consistently and listening to your feedback</p>
                </div>
            </div>
        </div>
    </section>

    <section  class="container features m-t-lg heading-container">
        <div id="howitworks" class="row m-b-xl">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Getting Started</h1>
                <p>An overview of the process and system</p>
            </div>
        </div>
        <div class="row m-b-xl text-center">
            <div class="col-sm-4">
                <i class="fa fa-mobile features-icon"></i>
                <h2>Setup your restaurant and menu</h2>
                <p>Sign up, follow the store setup, configure any advanced options and create your menu</p>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-mobile features-icon"></i>
                <h2>Market your online store</h2>
                <p>Let your existing customers know, spread the word online, get creative</p>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-mobile features-icon"></i>
                <h2>Receive and fulfill orders</h2>
                <p>Setup a tablet, computer or simply use your phone in store to receive and manage orders</p>
            </div>
        </div>
    </section>

    <section  class="container features m-t-lg heading-container">

        <div class="row features-block">
            <div class="col-lg-6 features-text wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                <small>SETTINGS</small>
                <h2>Manage Your Store Settings</h2>
                <p>Easily manage all the complexities of your store with an extremely easy to use interface which labeled and completely real-time</p>
            </div>
            <div class="col-lg-6 text-right wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
                <img src="app/opening-times.png" alt="Restaurant opening times" class="img-responsive pull-right">
            </div>
        </div>

        <div class="row features-block">
            <div class="col-lg-6 features-text wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                <small>INSPINIA</small>
                <h2>Perfectly designed </h2>
                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with latest jQuery plugins.</p>
                <a href="" class="btn btn-primary">Learn more</a>
            </div>
            <div class="col-lg-6 text-right wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
                <img src="app/opening-times.png" alt="Restaurant opening times" class="img-responsive pull-right">
            </div>
        </div>

    </section>


    <section class="gray-section m-t-lg">
        <div class="container">
            <div id="features" class="row m-b-xl">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Discover great features</h1>
                    <p>Our complete feature list and whats to come </p>
                </div>
            </div>
            <div class="feature-container m-b-xl">
                <div class="fbox">
                    <div class="fb">
                        <h2>Multi-Location</h2>
                        <p>Our system is built around managing multiple restaurants easily</p>
                    </div>
                </div>
                <div class="fbox">
                    <div class="fb">
                        <h2>Real-Time Dashboard</h2>
                        <p>Our entire system is real-time including your orders and statuses</p>
                    </div>
                </div>
                <div class="fbox">
                    <div class="fb">
                        <h2>Multi-Currency</h2>
                        <p>Support for nearly every currency & symbol</p>
                    </div>
                </div>
                <div class="fbox">
                    <div class="fb">
                        <h2>Order Types</h2>
                        <p>Support for pick and delivery orders either now or at a later date</p>
                    </div>
                </div>
                <div class="fbox">
                    <div class="fb">
                        <h2>Store Design</h2>
                        <p>Set your store colors, logo and background to customize your store</p>
                    </div>
                </div>
                <div class="fbox">
                    <div class="fb">
                        <h2>Store Information & Contact</h2>
                        <p>Display your store locations, contact details and terms</p>
                    </div>
                </div>
                <div class="fbox">
                    <div class="fb">
                        <h2>Menus, Meals, Options</h2>
                        <p>Create amazing menus with highly customizable dishes </p>
                    </div>
                </div>
                <div class="fbox">
                    <div class="fb">
                        <h2>Online Payments</h2>
                        <p>Accept payments online from credit-cards using Stripe</p>
                    </div>
                </div>
                <div class="fbox">
                    <div class="fb">
                        <h2>Delivery Conditions</h2>
                        <p>Control whether to accept or reject orders based on driving time or distance</p>
                    </div>
                </div>
                <div class="fbox">
                    <div class="fb">
                        <h2>Order Confirmation</h2>
                        <p>All orders receive a unique order link / e-receipt  which you can update</p>
                    </div>
                </div>
                <div class="fbox">
                    <div class="fb">
                        <h2>Order Statuses</h2>
                        <p>Easily manage your orders and provide transparency to your customers</p>
                    </div>
                </div>
                <div class="fbox">
                    <div class="fb">
                        <h2>Automated Statuses</h2>
                        <p>If you know your timings, you can automatically update your statuses</p>
                    </div>
                </div>
                <div class="fbox">
                    <div class="fb">
                        <h2>Documentation *</h2>
                        <p>All our features are carefully documented so you can understand how they work and set them up easily yourself</p>
                    </div>
                </div>
                <div class="fbox">
                    <div class="fb">
                        <h2>Speed</h2>
                        <p>Our servers are fast and all your images are automatically store on amazons servers</p>
                    </div>
                </div>
                <div class="fbox">
                    <div class="fb">
                        <h2>Security</h2>
                        <p>All your private store information is stored secured using powerful methods</p>
                    </div>
                </div>
                <div class="fbox">
                    <div class="fb">
                        <h2>Reliability</h2>
                        <p>We use a cluster of servers to provide maximum stability and zero down-time</p>
                    </div>
                </div>
                <div class="fbox">
                    <div class="fb">
                        <h2>Support</h2>
                        <p>Striving to provide the best support to help you manage and grow your online business</p>
                    </div>
                </div>
                <div class="fbox">
                    <div class="fb">
                        <h2>Automated Printing / Emails *</h2>
                        <p>Receive automated emails or print jobs when orders are placed</p>
                    </div>
                </div>
                <div class="fbox">
                    <div class="fb">
                        <h2>Reporting & Analytics *</h2>
                        <p>Detailed & comprehensive reporting and analytics of all your stores and orders</p>
                    </div>
                </div>
                <div class="fbox">
                    <div class="fb">
                        <h2>Promotions *</h2>
                        <p>Set store promotions & discounts based on business rules</p>
                    </div>
                </div>
                <div class="fbox">
                    <div class="fb">
                        <h2>Multi-Language *</h2>
                        <p>Integrated multi-lingual support to enable greater access</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="pricing" class="pricing">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>App Pricing</h1>
                    <p>One price for everything</p>
                </div>
            </div>
            <div class="row">

                <div class="col-xs-12 wow zoomIn">
                    <ul class="pricing-plan list-unstyled selected" style="max-width: 300px; margin: 0 auto;">
                        <li class="pricing-title">
                            Oorderz
                        </li>
                        <li class="pricing-desc font-bold">
                            Includes all existing & new features
                        </li>
                        <li class="pricing-price">
                            <span>$29</span> / month once complete
                        </li>
                        <li class="pricing-price font-bold">
                            Currently FREE as in development
                        </li>
                        <li class="plan-action">
                            <a class="btn btn-primary btn-xs" href="{{pathFor route="register"}}">Try Now</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </section>

    <section id="contact" class="gray-section contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                    <p><strong>&copy; 2016 Oorderz</strong><br/></p>
                </div>
            </div>
        </div>
    </section>


</template>