<template name="login">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox-content">
                    <h2 class="font-bold">Welcome Back</h2>
                    <p>Login to view your dashboard</p>
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" class="m-t" role="form">
                                <div class="form-group">
                                    <input id="login-email" type="email" class="form-control" placeholder="E-Mail" required="">
                                </div>
                                <div class="form-group">
                                    <input id="login-password" type="password" class="form-control" placeholder="Password" required="">
                                </div>
                                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
                            </form>
                            <a href="{{pathFor route='forgotPassword'}}"><small>Forgot password?</small></a>
                            <p class="text-muted text-center"><small>Do not have an account?</small></p>
                            <a class="btn btn-sm btn-white btn-block" href="{{pathFor route='register'}}">Create an account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t-sm">
            <div class="col-xs-12">
                Oorderz © 2016
            </div>
        </div>
    </div>
</template>