<template name="register">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox-content">
                    <h2 class="font-bold">Create An Account</h2>
                    <p>Currently under development, account data will be reset, use with caution</p>
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="register-form" class="m-t" role="form">
                                <div class="form-group">
                                    <input id="register-email" type="email" class="form-control" placeholder="E-Mail" required="">
                                </div>
                                <div class="form-group">
                                    <input id="register-password" type="password" class="form-control" placeholder="Password" minLength="6" maxLength="14" required="">
                                </div>
                                <div class="form-group">
                                    <input id="confirm-password" type="password" class="form-control" placeholder="Confirm Password" minLength="6" maxLength="14" required="">
                                </div>
                                <div class="form-group">
                                    <label> <input id="register-accept" type="checkbox" value=""> Agree the terms and policy </label>
                                </div>
                                <button type="submit" class="btn btn-primary block full-width m-b">Register</button>
                                <p class="text-muted text-center">
                                    <small>Already have an account?</small>
                                </p>
                                <a class="btn btn-sm btn-white btn-block" href="{{pathFor route='login'}}">Login</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t-sm">
            <div class="col-xs-12">
                Oorderz © 2016
            </div>
        </div>
    </div>
</template>