<template name="resetPassword">
    <div class="passwordBox animated fadeInDown">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox-content">
                    <h2 class="font-bold">Reset Password</h2>
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="resetPasswordForm" class="m-t" role="form">
                                <div class="form-group">
                                    <input id="reset-password" type="password" class="form-control" placeholder="Password" minLength="6" maxLength="14" required="">
                                </div>
                                <div class="form-group">
                                    <input id="reset-password2" type="password" class="form-control" placeholder="Confirm Password" minLength="6" maxLength="14" required="">
                                </div>
                                <button type="submit" class="btn btn-primary block full-width m-b">Confirm</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t-sm">
            <div class="col-xs-12">
                OORDERZ © 2014-2015
            </div>
        </div>
    </div>
</template>