<template name="restaurantBilling">

    {{> pageHeading title='Billing' }}

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">
                <div class="tabs-container">

                    <ul class="nav nav-tabs">
                        <li class="tab-init active"><a data-toggle="tab" href="#tab-account" aria-expanded="false"><i class="fa fa-list"></i> Account</a></li>
                        <li class="tab-init"><a data-toggle="tab" href="#tab-invoices" aria-expanded="false"><i class="fa fa-sliders"></i> Invoices</a></li>
                        <li class="tab-init"><a data-toggle="tab" href="#tab-information" aria-expanded="false"><i class="fa fa-sliders"></i> Information</a></li>
                    </ul>

                    <div class="tab-content">

                        <div id="tab-account" class="tab-pane active">
                            <div class="panel-body">
                                <dl class="dl-horizontal ">
                                    <dt></dt>
                                    <dd><h2><i class="fa fa-info m-r-sm"></i>Information</h2></dd>
                                </dl>
                                <dl class="dl-horizontal m-t-md">
                                    <dt>Status: </dt>
                                    <dd>{{accountStatus}}</dd>
                                </dl>
                                <dl class="dl-horizontal ">
                                    <dt>Payment Method: </dt>
                                    <dd>
                                        {{#if r.billing.source}}
                                            Active Credit Card <button class="btn btn-xs btn-primary stripeAddCard m-l-sm">Change</button>
                                        {{else}}
                                            None <button class="btn btn-xs btn-primary stripeAddCard m-l-sm">Add One</button>
                                        {{/if}}
                                    </dd>
                                </dl>

                                <dl class="dl-horizontal ">
                                    <dt>Subscription: </dt>
                                    <dd>{{#if equals r.billing.status 2}}Active Subscription ({{r.billing.locations}} locations){{else}}None{{/if}}</dd>
                                </dl>


                                <div class="hr-line-dashed"></div>

                                {{#if equals r.billing.status 2}}

                                    <dl class="dl-horizontal ">
                                        <dt></dt>
                                        <dd><h2><i class="fa fa-user m-r-sm"></i>Existing subscription</h2></dd>
                                    </dl>

                                    <dl class="dl-horizontal ">
                                        <dt>Subscription Cost</dt>
                                        <dd><span class="badge" style="font-size: 1.5rem; padding: 1rem;">${{subscriptionCost}}p/m</span></dd>
                                    </dl>

                                    <dl class="dl-horizontal ">
                                        <dt>Number of locations:</dt>
                                        <dd>
                                            <input id="numberOfLocationsSubscribed" class="form-control" type="number" min="1" step="1" value="{{r.billing.locations}}">
                                            <span id="locationHelpBlockSubscribed" class="help-block text-danger m-b-none"></span>
                                        </dd>
                                    </dl>

                                    <dl class="dl-horizontal ">
                                        <dt></dt>
                                        <dd>
                                            <button class="btn btn-primary update-subscription m-r-sm m-b-sm" type="submit"><i class="fa fa-check"></i>&nbsp;Update Subscription</button>
                                            <button class="btn btn-danger cancel-subscription m-b-sm" type="submit"><i class="fa fa-times"></i>&nbsp;Cancel Subscription</button>
                                        </dd>
                                    </dl>

                                {{else}}

                                    <dl class="dl-horizontal ">
                                        <dt></dt>
                                        <dd><h2><i class="fa fa-rocket m-r-sm"></i>New subscription</h2></dd>
                                    </dl>

                                    <dl class="dl-horizontal ">
                                        <dt>Subscription Cost</dt>
                                        <dd><span class="badge" style="font-size: 1.5rem; padding: 1rem;">${{estSubscriptionCost}}p/m</span></dd>
                                    </dl>

                                    <dl class="dl-horizontal ">
                                        <dt>Number of locations:</dt>
                                        <dd>
                                            <input id="numberOfLocations" class="form-control" type="number" min="1" step="1" value="1">
                                            <span id="locationHelpBlock" class="help-block text-danger m-b-none"></span>
                                        </dd>
                                    </dl>

                                    <dl class="dl-horizontal ">
                                        <dt></dt>
                                        <dd>
                                            {{#if r.billing.source}}
                                                <button class="btn btn-primary create-subscription" type="submit"><i class="fa fa-check"></i>&nbsp;Subscribe</button>
                                            {{else}}
                                                <button class="btn btn-primary" type="submit" disabled><i class="fa fa-check"></i>&nbsp;Subscribe</button><br>
                                                <small>Please add a payment method first</small>
                                            {{/if}}
                                        </dd>
                                    </dl>

                                {{/if}}

                            </div>
                        </div>

                        <div id="tab-invoices" class="tab-pane">
                            <div class="panel-body">

                                <div id="table-container">
                                    <table id="table">

                                    </table>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <button class="btn btn-primary get-stripe-invoices" type="submit"><i class="fa fa-check"></i>&nbsp;Update</button>
                            </div>
                        </div>

                        <div id="tab-information" class="tab-pane">
                            <div class="panel-body">
                                <ul>
                                    <li>You will be charged $39 (USD) every month per location that you subscribe for</li>
                                    <li>You will only be billed at the end of your trial period</li>
                                    <li>You cannot create more locations than the amount you subscribe for</li>
                                    <li>You can update the amount of locations you would like to subscribe for at any time while only paying for the time used this period</li>
                                    <li>Subscriptions can be cancelled anytime</li>
                                </ul>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>


    </div>

</template>