<template name="dashboard">

    {{> pageHeading title='Dashboard' }}

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row m-b-md">

            <div class="col-sm-6 col-lg-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-cubes fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> No. Orders Today </span>
                            <h2 class="font-bold">{{stats.totalOrdersToday}}</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-usd fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Today's Sales ({{cIcon}}) </span>
                            <h2 class="font-bold">{{cIcon}}{{stats.totalSalesToday}}</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-cubes fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Total Orders </span>
                            <h2 class="font-bold">{{stats.totalOrders}}</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-usd fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Total Sales ({{cIcon}}) </span>
                            <h2 class="font-bold">{{cIcon}}{{stats.totalSales}}</h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-12">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Locations</h5>
                    </div>
                    <div class="ibox-content">
                        <div id="location-table-container">
                            <table id="location-table" class="table m-b-none" data-sorting="true">
                                <thead>
                                <tr>
                                    <th data-breakpoints="xs" data-type="html">Address</th>
                                    <th data-type="html">Open / Close</th>
                                    <th data-breakpoints="xs sm md lg">Un-Confirmed Orders</th>
                                    <th data-breakpoints="xs sm md lg">Total Orders</th>
                                    <th data-breakpoints="xs sm md lg">Total Sales</th>
                                    <th data-title="Action" data-type="html">Action</th>
                                </tr>
                                </thead>
                                <tbody id="location-table-body">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>

</template>