<template name="restaurantSettings">

    {{> pageHeading title='Settings'}}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">

            <div class="col-lg-12 m-b-md">
                <div class="tabs-container">

                    <ul class="nav nav-tabs" role="tablist">
                        <li class="tab-init active"><a data-toggle="tab" role="tab" href="#basic" aria-expanded="true"> Basic</a></li>
                        <li class="tab-init"><a data-toggle="tab" role="tab" href="#location" aria-expanded="false"> Locations</a></li>
                        <li class="tab-init"><a data-toggle="tab" role="tab" href="#region" aria-expanded="false"> Region</a></li>
                        <li class="tab-init"><a data-toggle="tab" role="tab" href="#logistic" aria-expanded="true"> Logistic</a></li>
                        <li class="tab-init"><a data-toggle="tab" role="tab" href="#payment" aria-expanded="false"> Payment</a></li>
                        <li class="tab-init"><a data-toggle="tab" role="tab" href="#status" aria-expanded="true"> Status</a></li>
                        <li class="tab-init"><a data-toggle="tab" role="tab" href="#design" aria-expanded="true"> Design</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="basic" class="tab-pane active" role="tabpanel">
                            <div class="panel-body">

                                <form id="basic-form" class="form-horizontal">

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Restaurant Name *</label>
                                        <div class="col-sm-9">
                                            <input id="restaurant-name" name="restaurant-name" type="text" class="form-control required" required>
                                            <span class="help-block">Your restaurant display name</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Store Email</label>
                                        <div class="col-sm-9">
                                            <input id="storeEmail" name="storeEmail" type="email" class="form-control">
                                            <span class="help-block">Your store contact email. If entered, the store page contact form will be enabled to forward messages to this email</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Terms & Conditions</label>
                                        <div class="col-sm-9">
                                            <textarea id="termsConditions" name="termsConditions" class="form-control"></textarea>
                                            <span class="help-block">Store terms, conditions and policies. Recommend you have a cancellations and refunds policy. This will enable the terms & conditions information tab for your store</span>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <button class="btn btn-block btn-primary" type="submit"><i class="fa fa-check"></i> Save</button>

                                </form>

                            </div>
                        </div>
                        <div id="location" class="tab-pane" role="tabpanel">
                            <div class="panel-body">

                                <form id="locations-form" class="form-horizontal">

                                    {{#each locations}}

                                        {{#if overZero @index}}
                                            <div class="hr-line-dashed"></div>
                                        {{/if}}

                                        <div class="form-group">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-9">
                                                <h3>Location {{addOne @index}}</h3>
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Address *</label>
                                            <div class="col-sm-9">
                                                <input id="{{_id}}-address" name="address" type="text" class="form-control required" required>
                                                <span class="help-block">The full address of your restaurant. Please select one from the drop down</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Opening Times *</label>
                                            <div class="col-sm-9">
                                                <span class="help-block">Please ensure that your times are correct and do not overlap. These opening times will determine when your customers can place orders</span>
                                            </div>
                                        </div>

                                        {{#each days}}
                                            {{#each times}}
                                                <div class="hr-line-dashed"></div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">{{../_id}} {{#if overOne this}}{{this}}{{/if}} {{#if this}}*{{/if}}</label>
                                                    <div class="col-sm-9">
                                                        {{#if this}}
                                                            <div class="row">
                                                                <div class="col-sm-4">
                                                                    <div class="input-group clockpicker" data-autoclose="true">
                                                                        <input id="{{../../_id}}-{{../_id}}-{{this}}-open" name="{{../../_id}}-{{../_id}}-{{this}}-open" type="text" class="form-control required" data-id="time-ctr" placeholder="Open" required>
                                                                        <span class="input-group-addon">
                                                                            <span class="fa fa-clock-o"></span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <div class="input-group clockpicker" data-autoclose="true">
                                                                        <input id="{{../../_id}}-{{../_id}}-{{this}}-close" name="{{../../_id}}-{{../_id}}-{{this}}-close" type="text" class="form-control required" data-id="time-ctrl" placeholder="Close" required>
                                                                        <span class="input-group-addon">
                                                                            <span class="fa fa-clock-o"></span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <div class="btn-group m-t-xs">
                                                                        <button class="btn btn-white add-time btn-xs" type="button" data-btn="{{../../_id}}-{{../_id}}-add">
                                                                            <i class="fa fa-plus" data-btn="{{../../_id}}-{{../_id}}-add"></i>
                                                                        </button>
                                                                        {{#if overOne this}}
                                                                            <button class="btn btn-white remove-time btn-xs" type="button" data-btn="{{../../_id}}-{{../_id}}-remove">
                                                                                <i class="fa fa-close" data-btn="{{../../_id}}-{{../_id}}-remove"></i>
                                                                            </button>
                                                                        {{/if}}
                                                                        <button class="btn btn-white btn-xs close-day" type="button" data-btn="{{../../_id}}-{{../_id}}-closed">Close</button>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        {{else}}
                                                            <div class="row">
                                                                <div class="col-xs-4">
                                                                    <span class="label label-danger">Closed</span>
                                                                </div>
                                                                <div class="col-xs-4">
                                                                </div>
                                                                <div class="col-xs-4">
                                                                    <button class="btn btn-xs btn-primary open-day" type="button" data-btn="{{../../_id}}-{{../_id}}-open">Open</button>
                                                                </div>
                                                            </div>
                                                        {{/if}}
                                                    </div>
                                                </div>
                                            {{/each}}
                                        {{/each}}

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-9">
                                                <button class="btn btn-xs btn-primary add-location m-t-xs" type="button"><i class="fa fa-plus"></i>&nbsp;New Location</button>
                                                {{#if overZero @index}}<button data-id="{{_id}}" class="btn btn-xs btn-danger remove-location m-t-xs" type="button"><i class="fa fa-close"></i>&nbsp;Remove Location</button>{{/if}}
                                            </div>
                                        </div>

                                    {{/each}}

                                    <div class="hr-line-dashed"></div>

                                    <button class="btn btn-block btn-primary" type="submit"><i class="fa fa-check"></i> Save</button>

                                </form>

                            </div>
                        </div>
                        <div id="region" class="tab-pane" role="tabpanel">
                            <div class="panel-body">

                                <form id="region-form" class="form-horizontal">

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Currency *</label>
                                        <div class="col-sm-9">
                                            <select id="currency" class="select2 form-control required" style="width: 100%;" required>
                                                <option></option>
                                                {{#each currency}}
                                                    <option value="{{_id}}">{{name}}</option>
                                                {{/each}}
                                            </select>
                                            <span class="help-block">Your currency will determine which currency symbol to use for your store and reports</span>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Timezone *</label>
                                        <div class="col-sm-9">
                                            <select id="timezone" class="select2 form-control required" style="width: 100%;" required>
                                                <option></option>
                                                {{#each timezones}}
                                                    <option value="{{this}}">{{this}}</option>
                                                {{/each}}
                                            </select>
                                            <span class="help-block">Used to synchronize and display correct order and billings dates & times </span>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <button class="btn btn-block btn-primary" type="submit"><i class="fa fa-check"></i> Save</button>

                                </form>

                            </div>
                        </div>
                        <div id="logistic" class="tab-pane" role="tabpanel">
                            <div class="panel-body">

                                <form id="logistic-form" class="form-horizontal">

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Pickup *</label>
                                        <div class="col-sm-9">
                                            <div class="switch">
                                                <input id="pickup" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" name="logistics">
                                                <label for="pickup"></label>
                                                <span class="help-block">Allows customers to place orders that can be collected at one of your locations</span>
                                            </div>
                                        </div>
                                    </div>

                                    {{#if logistics.pickup}}

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Pickup Notes</label>
                                            <div class="col-sm-9">
                                                <input id="pickupNotes" name="pickupNotes" type="text" class="form-control">
                                                <span class="help-block">Notes that will be shown to the customer when the select the pickup option</span>
                                            </div>
                                        </div>

                                    {{/if}}

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Delivery *</label>
                                        <div class="col-sm-9">
                                            <div class="switch">
                                                <input id="delivery" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" name="logistics">
                                                <label for="delivery"></label>
                                                <span class="help-block">Allows customers to place delivery orders with your stores which will be chosen by which is closest to them</span>
                                            </div>
                                        </div>
                                    </div>

                                    {{#if logistics.delivery}}

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Delivery Notes</label>
                                            <div class="col-sm-9">
                                                <input id="deliveryNotes" name="deliveryNotes" type="text" class="form-control">
                                                <span class="help-block">Notes that will be shown to the customer when the select the delivery option</span>
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Minimum Order Amount</label>
                                            <div class="col-sm-9">
                                                <input id="deliveryMinOrder" name="deliveryMinOrder" type="number" min="0" step="any" class="form-control">
                                                <span class="help-block">Orders less than this amount will not be able to checkout. Leave empty for no minimum delivery</span>
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Max Delivery Distance (km)</label>
                                            <div class="col-sm-9">
                                                <input id="deliveryMaxDistance" name="deliveryMaxDistance" type="number" min="0" step="any" class="form-control">
                                                <span class="help-block">Orders further than this distance will be rejected. Leave empty for unlimited distance (not recommended).</span>
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Max Driving Time (m)</label>
                                            <div class="col-sm-9">
                                                <input id="deliveryMaxDrivingTime" name="deliveryMaxDrivingTime" type="number" min="0" step="any" class="form-control">
                                                <span class="help-block">Orders which take longer than this time to drive to will be rejected. Leave empty for unlimited driving time (not recommended).</span>
                                            </div>
                                        </div>

                                    {{/if}}

                                    <div class="hr-line-dashed"></div>

                                    <button class="btn btn-block btn-primary" type="submit"><i class="fa fa-check"></i> Save</button>

                                </form>

                            </div>
                        </div>
                        <div id="payment" class="tab-pane" role="tabpanel">
                            <div class="panel-body">

                                <form id="payment-form" class="form-horizontal">

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Cash</label>
                                        <div class="col-sm-9">
                                            <div class="switch">
                                                <input id="paymentCash" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" name="payments">
                                                <label for="paymentCash"></label>
                                                <span class="help-block">Allow customers to pay with cash</span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">EFPTOS</label>
                                        <div class="col-sm-9">
                                            <div class="switch">
                                                <input id="paymentEfptos" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" name="payments">
                                                <label for="paymentEfptos"></label>
                                                <span class="help-block">Allow customers to pay via card terminal / point of sale equipment</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Online (Credit Card)</label>
                                        <div class="col-sm-9">
                                            <div class="switch">
                                                <input id="paymentCreditCard" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" name="payments">
                                                <label for="paymentCreditCard"></label>
                                                <span class="help-block">Allow customers to pay via credit card online. Please read our
                                                    <a href="https://oorderz.zendesk.com/hc/en-us/articles/224503068-Online-Payments" target="_blank">guide</a> for complete information on setting this up.</span>
                                            </div>
                                        </div>
                                    </div>

                                    {{#if creditCard}}
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                        {{#if stripe.connected}}
                                            <label class="col-sm-3 control-label">Disconnect Stripe</label>
                                            <div class="col-sm-9">
                                                <a class="btn btn-danger m-b-sm disconnect-stripe">Disconnect</a>
                                                {{#if stripe.charges_enabled}}
                                                    <span class="help-block m-b-none">Stripe successfully connected</span>
                                                {{else}}
                                                    <span class="help-block">Stripe is connected but your account is still not fully configured for us to process payments. Please login and configure your account and press button below</span>
                                                    <a class="validate-stripe btn btn-info btn-xs">Check Stripe</a>
                                                {{/if}}
                                            </div>
                                        {{else}}
                                            <label class="col-sm-3 control-label">Connect Stripe</label>
                                            <div class="col-sm-9">
                                                <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_852deWKlgyuKe4TpyoXYwQhtFAFcmoZi&scope=read_write" class="btn btn-primary">Connect</a>
                                                <span class="help-block m-b-none">Online payments leverage <a href="https://www.stripe.com" target="_blank">Stripes</a> technology to process credit cards safely. Please connect your account or create one by clicking the button</span>
                                            </div>
                                        {{/if}}
                                        </div>
                                    {{/if}}

                                    <div class="hr-line-dashed"></div>

                                    <button class="btn btn-block btn-primary" type="submit"><i class="fa fa-check"></i> Save</button>

                                </form>

                            </div>
                        </div>
                        <div id="status" class="tab-pane" role="tabpanel">
                            <div class="panel-body">

                                <form id="status-form" class="form-horizontal">

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Automatic Statuses *</label>
                                        <div class="col-sm-9">
                                            <div class="switch">
                                                <input id="enableAutoStatus" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                                                <label for="enableAutoStatus"></label>
                                                <span class="help-block">Automatically change order statuses based on time. Please read our
                                                    <a href="https://oorderz.zendesk.com/hc/en-us/articles/225071508-Automated-Statuses" target="_blank">guide</a> for complete information on setting this up.</span>
                                            </div>
                                        </div>
                                    </div>

                                    {{#if statuses.auto}}

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Time till confirm (m)</label>
                                        <div class="col-sm-9">
                                            <input id="autoConfirmTime" name="autoConfirmTime" type="number" min="0" max="100" step="1" class="form-control">
                                            <span class="help-block">Time from un-confirmed to confirm. Set 0 for instant confirmation</span>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Time till ready (m)</label>
                                        <div class="col-sm-9">
                                            <input id="autoReadyTime" name="autoReadyTime" type="number" min="0" max="100" step="1" class="form-control">
                                            <span class="help-block">Time from confirmed to ready</span>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Time till on route (m)</label>
                                        <div class="col-sm-9">
                                            <input id="autoOnRouteTime" name="autoOnRouteTime" type="number" min="0" max="100" step="1" class="form-control">
                                            <span class="help-block">Time from ready to on route, delivery orders only</span>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Time till complete (m)</label>
                                        <div class="col-sm-9">
                                            <input id="autoCompleteTime" name="autoCompleteTime" type="number" min="0" max="100" step="1" class="form-control">
                                            <span class="help-block">Time from ready or on route to confirmed</span>
                                        </div>
                                    </div>

                                    {{/if}}

                                    <div class="hr-line-dashed"></div>

                                    <button class="btn btn-block btn-primary" type="submit"><i class="fa fa-check"></i> Save</button>

                                </form>

                            </div>
                        </div>
                        <div id="design" class="tab-pane" role="tabpanel">
                            <div class="panel-body">

                                <form id="design-form" class="form-horizontal">

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Primary Color</label>
                                        <div class="col-sm-9">
                                            <div id="primaryColor" class="input-group colorpicker-component">
                                                <span class="input-group-addon"><i></i></span>
                                                <input id="primaryColorInput" name="primaryColorInput" type="text" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Primary Text Color</label>
                                        <div class="col-sm-9">
                                            <div id="primaryTextColor" class="input-group colorpicker-component">
                                                <span class="input-group-addon"><i></i></span>
                                                <input id="primaryTextColorInput" name="primaryTextColorInput" type="text" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Main Text Color</label>
                                        <div class="col-sm-9">
                                            <div id="mainTextColor" class="input-group colorpicker-component">
                                                <span class="input-group-addon"><i></i></span>
                                                <input id="mainTextColorInput" name="mainTextColorInput" type="text" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Menu Text Color</label>
                                        <div class="col-sm-9">
                                            <div id="menuTextColor" class="input-group colorpicker-component">
                                                <span class="input-group-addon"><i></i></span>
                                                <input id="menuTextColorInput" name="menuTextColorInput" type="text" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Background Color</label>
                                        <div class="col-sm-9">
                                            <div id="backgroundColor" class="input-group colorpicker-component">
                                                <span class="input-group-addon"><i></i></span>
                                                <input id="backgroundColorInput" name="backgroundColorInput" type="text" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Box Color</label>
                                        <div class="col-sm-9">
                                            <div id="boxColor" class="input-group colorpicker-component">
                                                <span class="input-group-addon"><i></i></span>
                                                <input id="boxColorInput" name="boxColorInput" type="text" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Secondary Box Color</label>
                                        <div class="col-sm-9">
                                            <div id="secondaryBoxColor" class="input-group colorpicker-component">
                                                <span class="input-group-addon"><i></i></span>
                                                <input id="secondaryBoxColorInput" name="secondaryBoxColorInput" type="text" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Menu Color</label>
                                        <div class="col-sm-9">
                                            <div id="menuColor" class="input-group colorpicker-component">
                                                <span class="input-group-addon"><i></i></span>
                                                <input id="menuColorInput" name="menuColorInput" type="text" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Input Color</label>
                                        <div class="col-sm-9">
                                            <div id="inputColor" class="input-group colorpicker-component">
                                                <span class="input-group-addon"><i></i></span>
                                                <input id="inputColorInput" name="inputColorInput" type="text" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Input Text Color</label>
                                        <div class="col-sm-9">
                                            <div id="inputTextColor" class="input-group colorpicker-component">
                                                <span class="input-group-addon"><i></i></span>
                                                <input id="inputTextColorInput" name="inputTextColorInput" type="text" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Border Color</label>
                                        <div class="col-sm-9">
                                            <div id="borderColor" class="input-group colorpicker-component">
                                                <span class="input-group-addon"><i></i></span>
                                                <input id="borderColorInput" name="borderColorInput" type="text" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div id="existingLogoImage" class="form-group">
                                        <label class="col-sm-3 control-label">Existing Logo Image</label>
                                        <div class="col-sm-9">
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Logo Image</label>
                                        <div class="col-sm-9">
                                            <input id="logoImage" type="file" class="file logo-image" accept="image/*">
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div id="existingBackgroundImage" class="form-group">
                                        <label class="col-sm-3 control-label">Existing Background Image</label>
                                        <div class="col-sm-9">
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Background Image</label>
                                        <div class="col-sm-9">
                                            <input id="backgroundImage" type="file" class="file background-image" accept="image/*">
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Stretch Background</label>
                                        <div class="col-sm-9">
                                            <div class="switch">
                                                <input id="stretchBackground" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                                                <label for="stretchBackground"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <button class="btn btn-block btn-primary" type="submit"><i class="fa fa-check"></i> Save</button>

                                </form>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</template>