<template name="restaurantSetup">

    {{> pageHeading title='Restaurant Setup' }}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Getting Started</h5>
                        {{> iboxTools}}
                    </div>
                    <div class="ibox-content">
                        <p>Below are the bare minimum settings required for you to create a restaurant, you can configure advanced options such as online payments and more after.
                        We strongly recommend reading our <a href="https://oorderz.zendesk.com/hc/en-us/articles/224517648">getting started</a> page to understand how to setup your restaurant successfully.</p>
                    </div>
                </div>
            </div>
            <!-- BASIC -->
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Basic Settings</h5>
                        {{> iboxTools}}
                    </div>
                    <div class="ibox-content">
                        <form id="restaurant-basic-form" class="form-horizontal">

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Restaurant Name</label>
                                <div class="col-sm-10">
                                    <input id="restaurant-name" name="restaurant-name" type="text" class="form-control required" required>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <label class="col-sm-10 control-label text-left">Order Methods</label>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Pickup</label>
                                <div class="col-sm-10">
                                    <div class="switch">
                                        <input id="pickup" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" name="logistics">
                                        <label for="pickup"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Delivery</label>
                                <div class="col-sm-10">
                                    <div class="switch">
                                        <input id="delivery" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" name="logistics">
                                        <label for="delivery"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <label class="col-sm-10 control-label text-left">Payment Methods</label>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Cash</label>
                                <div class="col-sm-10">
                                    <div class="switch">
                                        <input id="paymentCash" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" name="payments">
                                        <label for="paymentCash"></label>
                                    </div>
                                </div>
                            </div>


                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">EFPTOS</label>
                                <div class="col-sm-10">
                                    <div class="switch">
                                        <input id="paymentEfptos" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" name="payments">
                                        <label for="paymentEfptos"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Currency</label>
                                <div class="col-sm-10">
                                    <select id="currency" class="select2 form-control required" required>
                                        <option></option>
                                        {{#each currency}}
                                            <option value="{{_id}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Timezone</label>
                                <div class="col-sm-10">
                                    <select id="timezone" class="select2 form-control required" required>
                                        <option></option>
                                        {{#each timezones}}
                                            <option value="{{this}}">{{this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- LOCATIONS -->
            {{#each locations}}
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Location {{addOne @index}}</h5>
                        {{> iboxTools}}
                    </div>
                    <div class="ibox-content">
                        <form id="{{_id}}-locations-form" class="restaurant-locations-form form-horizontal">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Address</label>
                                    <div class="col-sm-10">
                                        <input id="{{_id}}-address" name="address" type="text" class="form-control required" required>
                                    </div>
                                </div>

                            {{#each days}}
                                {{#each times}}
                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">{{../_id}} {{#if overOne this}}{{this}}{{/if}} {{#if this}}{{/if}}</label>
                                        <div class="col-sm-10">
                                            {{#if this}}
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="input-group clockpicker" data-autoclose="true">
                                                            <input id="{{../../_id}}-{{../_id}}-{{this}}-open" name="{{../../_id}}-{{../_id}}-{{this}}-open" type="text" class="form-control required" data-id="time-ctr" placeholder="Open" required>
                                                                <span class="input-group-addon">
                                                                    <span class="fa fa-clock-o"></span>
                                                                </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="input-group clockpicker" data-autoclose="true">
                                                            <input id="{{../../_id}}-{{../_id}}-{{this}}-close" name="{{../../_id}}-{{../_id}}-{{this}}-close" type="text" class="form-control required" data-id="time-ctrl" placeholder="Close" required>
                                                                <span class="input-group-addon">
                                                                    <span class="fa fa-clock-o"></span>
                                                                </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">

                                                        <div class="btn-group m-t-xs">
                                                            <button class="btn btn-white add-time btn-xs" type="button" data-btn="{{../../_id}}-{{../_id}}-add">
                                                                <i class="fa fa-plus" data-btn="{{../../_id}}-{{../_id}}-add"></i>
                                                            </button>
                                                            {{#if overOne this}}
                                                                <button class="btn btn-white remove-time btn-xs" type="button" data-btn="{{../../_id}}-{{../_id}}-remove">
                                                                    <i class="fa fa-close" data-btn="{{../../_id}}-{{../_id}}-remove"></i>
                                                                </button>
                                                            {{/if}}
                                                            <button class="btn btn-white btn-xs close-day" type="button" data-btn="{{../../_id}}-{{../_id}}-closed">Close</button>
                                                        </div>

                                                    </div>
                                                </div>
                                            {{else}}
                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        <span class="label label-danger">Closed</span>
                                                    </div>
                                                    <div class="col-xs-4">
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <button class="btn btn-xs btn-primary open-day" type="button" data-btn="{{../../_id}}-{{../_id}}-open">Open</button>
                                                    </div>
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>
                                {{/each}}
                            {{/each}}
                        </form>
                    </div>
                    <div class="ibox-footer">
                        <button class="btn btn-xs btn-primary add-location" type="button"><i class="fa fa-plus"></i>&nbsp;Add Location</button>
                        {{#if overZero @index}}<button data-id="{{_id}}" class="btn btn-xs btn-danger remove-location" type="button"><i class="fa fa-close"></i>&nbsp;Remove Location</button>{{/if}}
                    </div>
                </div>
            </div>
            {{/each}}

            <div class="col-lg-12 m-b-lg">
                <button class="btn btn-block btn-primary create-restaurant-btn" type="button"><i class="fa fa-check"></i>&nbsp;Create Restaurant</button>
            </div>

        </div>
    </div>

</template>