<template name="storeLayout">

    {{> yield}}

    <style>
        /* PRIMARY COLORS */

        .primary-color {
            background-color: {{p.primary}};
            color: {{p.primary_text}};
        }

        .text-primary {
            color: {{p.primary_text}}
        }

        .primary-color-text {
            color: {{p.primary}};
        }

        /* MAIN LAYOUT COLORS */

        .bg-color {
            background-color: {{p.background}}
        }

        .box-color {
            background-color: {{p.box}}
        }

        .box2-color {
            background-color: {{p.secondary_box}}
        }

        .text-main {
            color: {{p.main_text}};
        }

        /* MENU COLORS */

        .menu-color {
            background-color: {{p.menu}}
        }

        .text-menu {
            color: {{p.menu_text}};
        }

        .border-color {
            border-color: {{p.border}};
        }


    </style>

    <!-- GENERAL STYLES -->
    <style>
        /* THEME STYLING */
        body {
            color: {{p.main_text}};
            {{#if d.images.background.url}}
                {{#if d.images.background.stretch}}
                    background-image: url({{d.images.background.url}}) no-repeat center center fixed;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                {{else}}
                    background-image: url({{d.images.background.url}});
                {{/if}}
            {{else}}
                background-color: {{p.background}};
            {{/if}}
        }

        /*

        body.menuColor {
            background-color: {{p.menu}} !important;
            background-image: none;
        }

        */

        .toast-success {
            background-color: {{p.primary}};
            color: {{p.primar_text}};
        }

        .pace .pace-progress {
            background: {{p.primary}};
        }

        .sk-spinner-double-bounce .sk-double-bounce1, .sk-spinner-double-bounce .sk-double-bounce2 {
            background-color: {{p.primary}} !important;
        }

        h1, h2, h3, h4, p, label, i {
            color: {{p.main_text}};
        }
    </style>

    <!-- BTN STYLES -->
    <style>
        a i, .btn i {
            color: {{p.primary_text}};
        }

        .btn.btn-outline i {
            color: {{p.primary}};
        }

        .btn-primary.btn-outline {
            color: {{p.primary}};
        }
        .btn-outline {
            color: inherit;
            background-color: transparent !important;
            transition: all .5s;
        }
        .btn-primary {
            background-color: {{p.primary}};
            border-color: {{p.primary}};
            color: {{p.primary_text}};
        }

        .btn-primary.btn-outline:hover, .btn-success.btn-outline:hover, .btn-info.btn-outline:hover, .btn-warning.btn-outline:hover, .btn-danger.btn-outline:hover {
            color: {{p.primary_text}} !important;
            background-color: {{p.primary}} !important;
        }
        .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:hover, .btn-primary.active:focus {
            background-color: {{p.primary}};
            border-color: {{p.primary}};
            color: {{p.primary_text}};
        }

        a.btn {
            color: {{p.main_text}};
        }
        a.btn:hover {
            color: {{p.main_text}};
        }

        /* NAV BUTTON */

        .nav-btn {
            padding-top: 10px;
            color: {{p.menu_text}};
            display: inline;
            cursor: pointer;
        }
        .nav-btn i {
            color: {{p.menu_text}};
        }

        .nav-btn:hover {
            color: {{p.menu_text_light}};
        }
        .nav-btn i:hover {
            color: {{p.menu_text_light}};
        }



    </style>

    <!-- INPUT STYLES -->
    <style>
        input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: {{p.input_text}};
        }
        input::-moz-placeholder { /* Firefox 19+ */
            color: {{p.input_text}};
        }
        input:-ms-input-placeholder { /* IE 10+ */
            color: {{p.input_text}};
        }
        input:-moz-placeholder { /* Firefox 18- */
            color: {{p.input_text}};
        }

        /* INPUT STYLES */
        input, select, .form-control {
            background-color: {{p.input}} !important;
            color: {{p.input_text}} !important;
            border-color: {{p.border}};
        }

        option:hover {
            background-color: {{p.primary}};
            color: {{p.primary_text}};;
        }

        .input-group-addon {
            background-color: {{p.input}} !important;
            border-color: {{p.border}};
        }

        .input-group-addon i {
            color: {{p.input_text}} !important;
        }

        .radio-primary input[type="radio"]+ label::before {
            border-color: {{p.border}};
            background-color: {{p.input}};
        }

        .radio-primary input[type="radio"]:checked  + label::before {
            border-color: {{p.primary}};
        }

        .radio-primary input[type="radio"] + label::after {
            background-color: {{p.primary}};
        }

        .radio-primary input[type="radio"]:checked + label::after {
            background-color: {{p.primary}};
        }

        .form-control:focus, .single-line:focus {
            border-color: {{p.primary}} !important;
        }
    </style>

    <!-- SELECT 2 STYLES -->
    <style>
        /* SELECT 2 STYLES */


        option[disabled] {
            background-color: blue;
        }

        /* BORDER */

        .select2-container--default .select2-search--dropdown .select2-search__field {
            border: 1px solid {{p.border}};
        }

        .select2-container--default .select2-results__option[aria-selected=true] {
            background-color: {{p.input}};
        }

        .select2-container--default .select2-results__option--highlighted[aria-selected] {
            background-color: {{p.primary}};
            color: {{p.primary_text}};
        }

        .select2-container--default .select2-selection--single {
            background-color: {{p.input}};
            border: 1px solid {{p.border}};
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: {{p.input_text}};
        }

        .select2-container--default .select2-selection--single .select2-selection__placeholder {
            color: {{p.input_text}};
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow b {
            border-color: {{p.border}} transparent transparent transparent;
        }

        .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
            border-color: transparent transparent {{p.border}} transparent;
        }

        .select2-container--default .select2-selection--single:focus {
            border: 1px solid {{p.primary}};
        }

        .select2-dropdown {
            background-color: {{p.input}};
            border: 1px solid {{p.border}};
            color: {{p.input_text}};
        }

        .select2-container--default.select2-container--disabled .select2-selection--single {
            background-color: {{p.box}};
        }

    </style>

    <!-- TEXTUAL STYLES -->
    <style>
        /* TEXTUAL PARTS */

        .help-block {
            color: {{p.main_text}};
        }
    </style>

    <!-- NAV -->
    <style>
        .nav-header {
            color: {{p.primary_text}};
            background: {{p.primary}} !important;
        }

        .nav > li > a {
            color: {{p.menu_text}};
        }

        .nav > li > a i {
            color: {{p.menu_text}};
        }

        .nav > li.active {
            background-color: {{p.menu_light}};
            border-left: 4px solid {{p.primary}};
        }

        .nav > li.active > a {
            color: {{p.menu_text_light}};
        }

        .navbar-default .nav > li > a:hover {
            background-color: {{p.menu_hover}};
            color: {{p.menu_text}};
        }

        .navbar-default .nav > li > a:focus {
            background-color: {{p.menu_light}};
            color: {{p.menu_text_light}};
        }

        .nav-second-level li:last-child {
            margin-bottom: 0;
        }

        .nav-second-level li:last-child a{
            padding-bottom: 6px;
        }
        
        .sidebar-close-button {
            position: absolute;
            right: -50px;
            padding: 20px;
            font-size: 14px;
            cursor: pointer;
            color: {{p.menu_text}};
        }
        .sidebar-close-button i {
            color: {{p.menu_text}};
        }

        /*
        .nav > li > a:focus {
            background-color: {{p.menu_hover}};
            color: {{p.menu_text}};
        }
        */

        /* SIDE NAV BAR */

        .navbar-default {
            position: fixed;
            background-color: {{p.menu}};
        }

        /* TOP NAV BAR STYLES */

        .navbar {
            position: absolute;
            top: 0;
            min-height: 60px;
            left: 0;
            right: 0;
        }

        .navbar-static-top {
            background-color: {{p.menu}};
            color: {{p.menu_text}};
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .navbar-static-top div {
            width: 48%;
            padding: 0 14px;
        }

        .navbar-static-top div:last-child {
            text-align: right;
        }

        /* TOP STORE NAVBAR */

        .navbar-top-store {
            height: 60px;;
            padding: 0 20px;
            background-color: {{p.menu}};
            color: {{p.menu_text}};
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 1000;
        }

        .navbar-top-store div {
            width: 49%;
        }

        .navbar-top-store div:last-child {
            text-align: right;
        }

    </style>

    <!-- STORE PAGE-->
    <style>
        #page-wrapper {
            background-color: {{p.background}};
            overflow: hidden;
            margin: 0 !important;
        }

        .logoImage {
            width: 100%;
            max-width: 280px;
            margin-bottom: 10px;
        }

        .page-heading {
            background-color: {{p.box}};
        }

        .product-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: stretch;
        }

        .product-container .ibox {
            display: flex;
            width: 100%;
            padding: 0.5rem;
        }

        /* Extra Small Devices, Phones */
        @media only screen and (min-width : 480px) {
            .product-container .ibox {
                width: 50%;
            }
        }

        /* Small Devices, Tablets */
        @media only screen and (min-width : 768px) {
            .product-container .ibox {
                width: 50%;
            }
        }

        /* Medium Devices, Desktops */
        @media only screen and (min-width : 992px) {
            .product-container .ibox {
                width: 33%;
            }
        }

        /* Large Devices, Wide Screens */
        @media only screen and (min-width : 1200px) {
            .product-container .ibox {
                width: 25%;
            }
        }

        .product-container .product-box {
            position: relative;
            background-color: {{p.secondary_box}};
            width: 100%;
            height: 100%;
        }

        .product-box .product-imitation {
            padding: 0;
        }

        .product-box .product-imitation .product-image {
            width: 100%;
        }

        .product-container .product-desc {
            width: 100%;
            height: 100%;
        }

        .add-dish {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }

        .product-price {
            color: {{p.primary_text}};
            background-color: {{p.primary}} !important;
        }

        .product-price.no-image {
            font-size: 20px;
            font-weight: 600;
            color: {{p.main_text}};
            background-color: transparent !important;
            padding: 6px 12px;
            position: absolute;
            top: -32px;
            right: 0;
        }

        .product-name:hover, .product-name:focus {
            color: {{p.primary}};
        }
    </style>

    <!-- RIGHT SIDEBAR -->
    <style>
        #right-sidebar {
            z-index: 3000;
            width: 300px !important;
            right: -300px;
            background-color: {{p.secondary_box}};
        }

        .sidebar-container ul.nav-tabs li a {
            background: {{p.secondary_box}};
            color: {{p.main_text}};
            border-right: 1px solid {{p.secondary_box}};
        }

        .sidebar-container ul.nav-tabs li a i {
            color: {{p.main_text}};
        }

        .sidebar-container ul.nav-tabs li.active a {
            background: {{p.box}};
            color: {{p.main_text}};
        }

        .sidebar-container .sidebar-title {
            background: {{p.box}};
            border-bottom: 1px solid {{p.box}};
        }

        .sidebar-container ul.sidebar-list li {
            border-bottom: 1px solid {{p.box}};
        }

        .product-price.no-image {
            top: 0px;
        }
    </style>

    <!-- MODAL -->
    <style>
        .modal-content {
            background-color: {{p.secondary_box}};
        }
        .inmodal .modal-body {
            background: {{p.box}};
        }

        .map-container {
            width: 100%;
            max-width: 100%;
            height: 300px;
        }

        .todo-list.small-list > li {
            background: {{p.box}} !important;
            padding: 8px 0px 0px 15px !important;
        }
    </style>

    <!-- CENTERBOX -->
    <style>
        .cbcontainer {
            height: 100%;
            text-align: center;  /* align the inline(-block) elements horizontally */
            font: 0/0 a;        /* remove the gap between inline(-block) elements */
        }

        .cbcontainer:before {    /* create a full-height inline block pseudo=element */
            content: ' ';
            display: inline-block;
            height: 100%;
            vertical-align: middle;  /* vertical alignment of the inline element */
            height: 100%;
        }

        #center-element {
            width: 100%;
            max-width: 520px;
            display: inline-block;
            vertical-align: middle;  /* vertical alignment of the inline element */
            text-align: left;
            font: 13px/1  "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;    /* <-- reset the font property */
            line-height: 1.42857143;
        }
    </style>

</template>