input, textarea {
    color: #131313 !important;
}

/* SELECT 2

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff;
    line-height: 34px;
}

*/

.cursor {
    cursor: pointer;
}

.footable-sortable {
    border-top: 0 !important;
}

.file {
    margin-bottom: 5px !important;
    margin-top: 5px;
}

.text-center {
    text-align: center !important
}

.text-left {
    text-align: left !important;
}

/* FLEXBOX STYLES */

.l-r-flex {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.l-r-flex p:first-child {
    width: 60%;
}
.p-l-sm {
    padding-left: 1.5rem;
}

/* CONNECTION STATUS */

.header-connection-indicator {
    line-height: 58px;
}

.connection-icon {
    width: 1rem;
    height: 1rem;
    background-color: #00c300;
    border-radius: 1rem;
    vertical-align: middle;
    margin-left: 0.2rem;
}


.connection-icon.green {
    background-color: #00c300;
}

.connection-icon.yellow {
    background-color: #f8ac59;
}

.connection-icon.red {
    background-color: #ed5565;
}

/* LOGIN SCREE */

.loginscreen.middle-box {
    width: 310px !important;
}

/* SEARCH INPUT */

.footable-filtering {
    display:none;
}

/*
.search-input {
    width: 100%;
}
*/

/* BOOTSTRAP DROPUP RIGHT FIX */
.dropdown-menu-right {
    left: auto !important;
}

.thumbnail-img {
    width: 100%;
    max-width: 250px;
}

.res-img {
    width: 100%;
    max-width: 100%;
}

.m-none {
    margin: 0 !important;
}

.p-none {
    padding: 0 !important;
}

.p-l-06 {
    padding-left: 6px;
}

.select2-close-mask{
    z-index: 2099 !important;
}
.select2-dropdown{
    z-index: 3051 !important;
}

.logo-name {
    color: #e6e6e6 !important;
    font-size: 5rem !important;
    font-weight: 400 !important;
    letter-spacing: 0px !important;
    margin-bottom: 3rem !important;
}

.nav-header {
    background: url("patterns/header-profile-skin-3.png") no-repeat !important;;
}

/* SWITCH */

.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

input.cmn-toggle-round-flat + label {
    padding: 2px;
    width: 60px;
    height: 30px;
    background-color: #dddddd;
    border-radius: 30px;
    transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
}
input.cmn-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #fff;
    border-radius: 30px;
    transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 26px;
    background-color: #dddddd;
    border-radius: 30px;
    transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
    background-color: #f8994b;
}
input.cmn-toggle-round-flat:checked + label:after {
    margin-left: 26px;
    background-color: #f8994b;
}