.landing-page {
    background-color: #ededed !important;
}

.landing-page .carousel-image {
    top: 120px !important;
}

.feature-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
}

.feature-container .fbox {
    display: flex;
    width: 100%;
    padding: 0.5rem;
}

.feature-container .fbox .fb {
    padding: 2rem 1.5rem;
    background-color: rgba(255, 255, 255, 0.04);
}
.feature-container .fbox .fb h2 {
    margin: 0 0 8px 0;
}

.feature-container .fbox .fb p {
    margin: 0;
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .feature-container .fbox {
        width: 50%;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .feature-container .fbox  {
        width: 50%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .feature-container .fbox  {
        width: 33%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .feature-container .fbox  {
        width: 25%;
    }
}

.landing-page .pricing-plan li {
    color: inherit !important;
}

.landing-page li.pricing-title {
    color: #fff !important;
}

/*
.landing-page section p {
    color: #565656 !important;
    font-size: 14px !important;
}

.landing-page .gray-section {
    background: #222222 !important;
    color: #d4d4d4 !important;
}

.landing-page section .gray-section p {
    color: #d4d4d4 !important;
}
*/