<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->
            {{#if r}}
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold text-white">{{r.name}}</strong>
                            </span>
                        </span>
                    </div>
                    <div class="logo-element split-store-name">
                        {{splitName}}
                    </div>
                </li>
                <li class="{{isActiveRoute regex='dashboard'}}">
                    <a href="{{pathFor route='dashboard'}}"><i class="fa fa-dashboard"></i> <span class="nav-label">Dashboard</span> </a>
                </li>
                <li class="{{isActiveRoute regex='restaurantViewOrders'}}">
                    <a href="{{pathFor route='restaurantViewOrders'}}"><i class="fa fa-cubes"></i> <span class="nav-label">Orders</span> </a>
                </li>
                <li class="{{isActiveRoute regex='restaurantDishes|restaurantCategories|restaurantOptionSets'}}">
                    <a href="#"><i class="fa fa-cutlery"></i> <span class="nav-label">Menu</span> <span class="fa arrow p-t-sm"></span></a>
                    <ul class="nav nav-second-level collapse {{isActiveRoute regex='restaurantDishes|restaurantCategories|restaurantOptionSets' className='in'}}">
                        <li class="{{isActiveRoute regex='restaurantDishes'}}"><a href="{{pathFor route='restaurantDishes'}}">Dishes</a></li>
                        <li class="{{isActiveRoute regex='restaurantCategories'}}"><a href="{{pathFor route='restaurantCategories'}}">Categories</a></li>
                        <li class="{{isActiveRoute regex='restaurantOptionSets'}}"><a href="{{pathFor route='restaurantOptionSets'}}">Option Sets</a></li>
                    </ul>
                </li>
                <li class="{{isActiveRoute regex='restaurantSettings'}}">
                    <a href="{{pathFor route='restaurantSettings'}}"><i class="fa fa-gear"></i> <span class="nav-label">Settings</span> </a>
                </li>
                <li class="">
                    <a target="_blank" href="/restaurant/{{r._id}}"><i class="fa fa-shopping-basket"></i> <span class="nav-label">Your Store</span> </a>
                </li>
                <li class="{{isActiveRoute regex='restaurantBilling'}}">
                    <a href="{{pathFor route='restaurantBilling'}}"><i class="fa fa-credit-card"></i> <span class="nav-label">Billing</span> </a>
                </li>
                <li class="">
                    <a class="logout-user"><i class="fa fa-sign-out"></i><span class="nav-label">Log out</span></a>
                </li>
            </ul>
            {{else}}
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold text-white">Welcome</strong>
                            </span>
                        </span>
                        </div>
                        <div class="logo-element">
                            OO
                        </div>
                    </li>
                    <li class="">
                        <a class="logout-user"><i class="fa fa-sign-out"></i><span class="nav-label">Log out</span></a>
                    </li>
                </ul>
            {{/if}}

        </div>
    </nav>
</template>