<template name="topNavbar">
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0; height: 58px;">
            <div class="navbar-header">
                <a id="navbar-minimalize" class="minimalize-styl-2 btn btn-primary m-r-sm" href="#"><i class="fa fa-bars"></i> </a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                {{#if accountStatus}}
                <li>
                    <a href="{{pathFor route='restaurantBilling'}}" class="p-none">
                        <div class="header-connection-indicator label">
                            <small>
                                {{accountStatus}}
                            </small>
                        </div>
                    </a>
                </li>
                {{/if}}
                <li>
                    <div class="header-connection-indicator label">
                        <small>
                            {{#if equals status 'green'}}Real-Time{{/if}}
                            {{#if equals status 'yellow'}}Connecting{{/if}}
                            {{#if equals status 'red'}}Disconnected{{/if}}
                        </small>
                        <span class="connection-icon {{status}} inline"></span>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</template>