<template name="restaurantCategories">

    {{> pageHeading title='Categories' }}

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">

            <div class="col-lg-12 m-b-md">
                <div class="tabs-container">

                    <ul class="nav nav-tabs">
                        <li class="tab-init active"><a data-toggle="tab" href="#tab-view" aria-expanded="false"><i class="fa fa-list"></i> View</a></li>
                        <li class="tab-init"><a data-toggle="tab" href="#tab-create" aria-expanded="false"><i class="fa fa-sliders"></i> Create</a></li>
                    </ul>

                    <div class="tab-content">

                        <div id="tab-view" class="tab-pane active">
                            <div class="panel-body">

                                <div id="category-table-container">
                                    <table id="option-set-table" class="table m-b-none" data-sorting="true"></table>
                                </div>

                            </div>
                        </div>

                        <div id="tab-create" class="tab-pane">
                            <div class="panel-body">

                                <form id="create-category-form" class="form-horizontal m-b-none create-category-form">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Category Name</label>
                                        <div class="col-sm-10">
                                            <input id="categoryName" name="categoryName" type="text" class="form-control required" required>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <button class="btn btn-block btn-primary" type="submit"><i class="fa fa-check"></i>&nbsp;Create Category</button>

                                </form>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="modal inmodal" id="edit-category-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated fadeInDown">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Edit Category</h4>
                    <small class="font-bold">Editing a category will not update your existing dishes</small>
                </div>
                <div class="modal-body">
                    <form id="edit-category-form" class="m-b-none create-category-form">

                        <div class="form-group">
                            <label class="">Category Name</label>
                            <input id="editCategoryName" name="categoryName" type="text" class="form-control required" required>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary edit-category-modal-button">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</template>