<template name="restaurantDishes">

    {{> pageHeading title='Dishes' }}

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">
                <div class="tabs-container">

                    <ul class="nav nav-tabs">
                        <li class="tab-init active"><a data-toggle="tab" href="#tab-view" aria-expanded="false"><i class="fa fa-list"></i> View</a></li>
                        <li class="tab-init"><a data-toggle="tab" href="#tab-create" aria-expanded="false"><i class="fa fa-sliders"></i> Create</a></li>
                    </ul>

                    <div class="tab-content">

                        <div id="tab-view" class="tab-pane active">
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-sm-6 m-b-sm">
                                        <h5>Categories</h5>
                                        <select id="filterCategory" class="select2 form-control" style="width: 100%">
                                            <option value="">All</option>
                                            {{#each r.categories}}
                                                <option value="{{name}}">{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="col-sm-6 m-b-md">
                                        <h5>Search</h5>
                                        <div class="input-group">
                                            <input id="filterSearch" class="form-control search-input" type="text">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div id="table-container">
                                    <table id="table"></table>
                                </div>

                            </div>
                        </div>

                        <div id="tab-create" class="tab-pane">
                            <div class="panel-body">

                                <form id="create-dish-form" class="form-horizontal m-b-none dish-form">

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Dish Name</label>
                                        <div class="col-sm-9">
                                            <input id="dishName" name="dishName" type="text" class="form-control required" required>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Dish Price</label>
                                        <div class="col-sm-9">
                                            <input id="dishPrice" name="dishPrice" type="number" min="0" step="any" class="form-control required" required>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Dish Description</label>
                                        <div class="col-sm-9">
                                            <input id="dishDescription" name="dishDescription" type="text" class="form-control required" required>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Dish Category</label>
                                        <div class="col-sm-9">
                                            <select id="dishCategory" class="select2 form-control required" style="width: 100%;" required>
                                                {{#each r.categories}}
                                                    <option value="{{name}}">{{name}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Dish Option Sets</label>
                                        <div class="col-sm-9">
                                            <select id="dishOptionSets" class="select2 form-control" style="width: 100%;" multiple>
                                                {{#each r.option_sets}}
                                                    <option value="{{_id}}">{{name}}</option>
                                                {{/each}}
                                            </select>
                                            <span class="help-block m-b-none">You can select multiple option sets</span>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Dish Image</label>
                                        <div class="col-sm-9">
                                            <input id="dishImage" type="file" class="file dish-image" accept="image/*">
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <button class="btn btn-block btn-primary" type="submit"><i class="fa fa-check"></i>&nbsp;Create Dish</button>

                                </form>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <div id="edit-dish-modal" class="modal inmodal" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated fadeInDown">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Edit Dish</h4>
                </div>
                <div class="modal-body">
                    <form id="edit-dish-form" class="m-b-none dish-form">

                        <div class="form-group">
                            <label>Dish Name</label>
                            <input id="editDishName" name="editDishName" type="text" class="form-control required" required>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label>Dish Price</label>
                            <input id="editDishPrice" name="editDishPrice" type="number" min="0" step="any" class="form-control required" required>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label>Dish Description</label>
                            <input id="editDishDescription" name="editDishDescription" type="text" class="form-control required" required>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label>Dish Category</label>
                            <select id="editDishCategory" class="select2 form-control required" style="width: 100%" required>
                                {{#each r.categories}}
                                    <option value="{{name}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label>Dish Option Sets</label>
                            <select id="editDishOptionSets" class="select2 form-control" style="width: 100%;" multiple>
                                {{#each r.option_sets}}
                                    <option value="{{_id}}">{{name}}</option>
                                {{/each}}
                            </select>
                            <span class="help-block m-b-none">You can select multiple option sets</span>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label>Existing Dish Image</label>
                            <div id="existingDishImage"></div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label>Dish Image</label>
                            <input id="editDishImage" type="file" class="file dish-image" accept="image/*">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary edit-dish-modal-button">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</template>