<template name="restaurantOptionSets">

    {{> pageHeading title='Option Sets' }}

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">

            <div class="col-lg-12">
                <div class="tabs-container">

                    <ul class="nav nav-tabs">
                        <li class="tab-init active"><a data-toggle="tab" href="#tab-view" aria-expanded="false"><i class="fa fa-list"></i> View</a></li>
                        <li class="tab-init"><a data-toggle="tab" href="#tab-create-os" aria-expanded="false"><i class="fa fa-sliders"></i> Create Option Set</a></li>
                        <li class="tab-init"><a data-toggle="tab" href="#tab-create-o" aria-expanded="false"><i class="fa fa-sliders"></i> Create Option</a></li>
                    </ul>

                    <div class="tab-content">

                        <div id="tab-view" class="tab-pane active">
                            <div class="panel-body">

                                <div id="table-container">
                                    <table id="table"></table>
                                </div>

                            </div>
                        </div>

                        <div id="tab-create-os" class="tab-pane">
                            <div class="panel-body">

                                <form id="create-option-set-form" class="form-horizontal m-b-none">

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Name</label>
                                        <div class="col-sm-9">
                                            <input id="optionSetName" name="optionSetName" type="text" class="form-control required" required>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Required</label>
                                        <div class="col-sm-9">
                                            <div class="switch">
                                                <input id="optionSetRequired" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" name="optionSetRequired">
                                                <label for="optionSetRequired"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Multi-Select</label>
                                        <div class="col-sm-9">
                                            <div class="switch">
                                                <input id="optionSetMultiSelect" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" name="optionSetMultiSelect">
                                                <label for="optionSetMultiSelect"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <button class="btn btn-block btn-primary" type="submit"><i class="fa fa-check"></i>&nbsp;Create Option Set</button>

                                </form>

                            </div>
                        </div>

                        <div id="tab-create-o" class="tab-pane">
                            <div class="panel-body">

                                {{#if r.option_sets}}
                                <form id="create-option-form" class="form-horizontal m-b-none">

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Name</label>
                                        <div class="col-sm-9">
                                            <input id="optionName" name="optionName" type="text" class="form-control required" required>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Modifier ($)</label>
                                        <div class="col-sm-9">
                                            <input id="optionModifier" name="optionModifier" type="number" step="any" min="0" class="form-control">
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Add To Set</label>
                                        <div class="col-sm-9">
                                            <select id="optionAddToSet" class="select2 form-control required" style="width: 100%;" required>
                                                {{#each r.option_sets}}
                                                    <option value="{{_id}}">{{name}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>

                                    <button class="btn btn-block btn-primary" type="submit"><i class="fa fa-check"></i>&nbsp;Create Option</button>

                                </form>
                                {{else}}
                                    <p>Please create an option set first</p>
                                {{/if}}

                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="modal inmodal" id="edit-option-set-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated fadeInDown">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Edit Option Set</h4>
                    <small class="font-bold">Editing an option set will not update your existing dishes</small>
                </div>
                <div class="modal-body">
                    <form id="edit-option-set-form" class="m-b-none">

                        <div class="form-group">
                            <label >Name</label>
                            <input id="editOptionSetName" name="editOptionSetName" type="text" class="form-control required" required>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label >Required</label>
                            <div class="switch">
                                <input id="editOptionSetRequired" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" name="editOptionSetRequired">
                                <label for="editOptionSetRequired"></label>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label >Multi-Select</label>
                            <div class="switch">
                                <input id="editOptionSetMultiSelect" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" name="editOptionSetMultiSelect">
                                <label for="editOptionSetMultiSelect"></label>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary edit-option-set-modal-button">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</template>